<div id="footer">
    <div class="container">
        <div class="row">
            <div class="12u">
                <!-- Contact -->
                    <section class="contact">
                        <header>
                            <h3>Nisl turpis nascetur interdum?</h3>
                        </header>
                        <p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor aliquet. ((official social sites))</p>
                        <ul class="icons">
                            <li><a href="https://vk.com/donetsk.donntu" class="icon fa-vk"><span class="label">Vk</span></a></li>
                            <li><a href="https://twitter.com/donetsk_donntu" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="https://www.facebook.com/groups/donetsk.donntu" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="https://www.youtube.com/c/DonntuOrg" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
                            <li><a href="https://ok.ru/donetsk.donntu" class="icon fa-odnoklassniki"><span class="label">Ok</span></a></li>
                        </ul>
                    </section>

                <!-- Copyright -->
                    <div class="copyright">
                        <ul class="menu">
                            <li>Copyright &copy; 2015 by <a href="https://github.com/pi12/" class="icon fa-github">
                                <span class="label">Github</span> (SE12a DonNTU)</a> All rights reserved. 
                                <span class="fa fa-creative-commons"></span>
                            </li>
                            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
</div>