<table cellpadding="5" cellspacing="0">
    <!-- Заголовок таблицы -->
    <tr>
        <td></td>
        <td>Понидельник</td>
        <td>Вторник</td>
        <td>Среда</td>
        <td>Четверг</td>
        <td>Пятница</td>
    </tr>
    
    
    <!-- Первые пары всех дней -->
    <tr>
        <td rowspan="2">1 (8:00-9:40)</td>
        
        <td>Предмет 2</td>
        <td rowspan="2">Тест</td>
        <td>test1</td> 
        <td rowspan="2" bgcolor="#FBF0DB" style="border-top: 1px solid black">Предмет 1</td>
        <td>test10</td>
    </tr>
    <tr>
        <td>Предмет 3</td>
        <td>test2</td>
        <td>test20</td>
    </tr>
    
    <!-- http://htmlbook.ru/samlayout/verstka-s-pomoshchyu-tablits/tablitsy-i-stili -->
    <!-- Вторые пары всех дней -->
    <tr style="border: 1px solid black">
        <td rowspan="2">2 (9:55-11:30)</td>
        
        <td rowspan="2">Предмет 2</td>
        <td rowspan="2">Тест</td>
        <td rowspan="2">test1</td> 
        <td rowspan="2" style="background-color: #FBF0DB; border: 1px solid black">Предмет 1</td>
        <td rowspan="2">test10</td>
    </tr>
    <tr>
    </tr>

</table>